
body{
  background-image: url("../img/gmailbg.jpg");
  background-repeat: repeat-y;
  background-size: cover;
}

/* Non volevo modificare lo spazio modificando la proprietà della body quindi ho creato una div con questa class  */
.padding{
  padding-left: 25%;
  padding-right: 25%;
}

/*ho usato questo metodo per non modificare le altri img o h3, cosi riguarda soltanto questa classe */
.head img{
  height: 100px;
  vertical-align: bottom;
}

.head h3{
  display: inline;
}

/*ho rimesso la h3 perche non è stato modificato nella linea precedente */
h3{
  color: white;
}

#radius{
  border-radius: 50%;
  background-color:  orange;
  padding: 3px;
}

.colgray{
  color: lightgray;
}

.mailbg{
  background-color: darkgray	;
  border: 1px solid;
}
/*effetto quando il mouse passa alla mail */
.mailbg:hover{
  background-color: white;
}

#ending{
  text-align: center;
}

#italic{
  font-style: italic;
  font-size: 12px
}
